<!--<div class="row center">
  <div>
    <h1>Freshly Foraged for your Enjoyment!</h1>
    <%= link_to 'Add something you Foraged', new_listing_path %>
  </div>
</div>

<div class="clear-fix"></div>

  <hr>-->

<%= render 'layouts/top_section' %> 

<% @listings.each do |listing| %>

<div class="col-md-3">
  <div class="center">
    <div class="thumbnail">
      <%= link_to image_tag(listing.image.url), listing %>
      <div class="caption">
        <h3><%= listing.name %></h3>
        <!--
        <p>Description: <%= listing.description %></p>
        <p>Location: <%= listing.location %></p>
        `-->
        <p><%= number_to_currency(listing.price) %></p>
        <p>Forgaged By: <%= listing.user.name %></p>
        <br>
      </div>
    </div>
  </div>
</div>


<% end %>




