<!--<div class="row center">
  <div>
    <h1>Freshly Foraged for your Enjoyment!</h1>
    <%= link_to 'Add something you Foraged', new_listing_path %>
  </div>
</div>

<div class="clear-fix"></div>

  <hr>-->

<% @listings.each do |listing| %>

<div class="col-md-3">
  <div class="center">
    <div class="thumbnail">
      <%= image_tag listing.image.url %>
      <div class="caption">
        <h3><%= listing.name %></h3>
        <!--
        <p>Description: <%= listing.description %></p>
        <p>Location: <%= listing.location %></p>
        `-->
        <p><%= number_to_currency(listing.price) %></p>
        <br>
        <div class="row">
            <%= link_to 'Show', listing, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link"  %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>

<%= link_to 'Add something you Foraged', new_listing_path %>



