<div class="col-md-6">
	<div class="thumbnail">
		<%= image_tag @listing.image.url %>
	</div>
</div>

<div class="col-md-6 listing-show">
	<h3>
	  <%= @listing.name %>
	</h3>

	<p>
	  <%= number_to_currency(@listing.price) %>
	</p>

	<h5>
	  <%= @listing.description %>
	</h5>
	
	<p>
	  <strong>Location:</strong>
	  <%= @listing.location %>
	</p>

	<br>

	<div class="">
		<%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-info" %>
	</div>

	<br>
	<br>


	<% if (user_signed_in?) && (current_user == @listing.user) %>
		<%= link_to 'Edit', edit_listing_path(@listing) %>   |
	<% end %>
	
	<%= link_to 'Back', listings_path %>

</div>

<br>